body {
    background-color: #f8f4f4;
}

.geral {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.image {
    width: 200px;
}

.form {
    font-family: Arial;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0px 0px 8px 0 rgb(179, 179, 179);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entrar-text {
    margin-top: 18px;
    font-size: 15px;
}

.email {
    width: 260px;
    height: 35px;
    padding-left: 10px;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0.6px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    border-radius: 6px;
    outline: none;

}

.email:focus::placeholder, .email:active::placeholder {
    opacity: 0.5;
    transition: opacity 0.05s;
}


.senha {
    margin-top: 8px;
    width: 260px;
    height: 35px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0.6px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    border-radius: 6px;
    outline: none;
}

.senha:focus::placeholder, .senha:active::placeholder {
    opacity: 0.5;
    transition: opacity 0.05s;
}

.entrar {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    background-color: #2074f4;
    color: white;
    width: 275px;
    height: 35px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.entrar:hover {
    background-color: #1e6ce2;
    transition: background-color 0.15s;
}

.forgot {
    margin-top: 14px;
    font-size: 11px;
    text-decoration: none;
    color: #2074f4;
    cursor: pointer;
}

.forgot:hover {
    text-decoration: underline;
}

.ou {
    font-size: 10px;
    color: rgb(131, 131, 131);
}

.criar {
    background-color: rgb(72,180,44);
    border: none;
    border-radius: 6px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 16px;
    cursor: pointer;
}

.criar:hover {
    background-color: rgb(56,164,36);
    transition: background-color 0.15s;
}